<h2>Create a new drone</h2>

<form method="post" action="/drones/create">

<label>name</label>
<input name='name'>
<label>propellers</label>
<input name='propellers'>
<label>maxSpeed</label>
<input name='maxSpeed'>

<button type="submit">Create drone</button>
</form>