<h2>Create a new drone</h2>

<form method="post" action="/drones/create">

<label>Name</label><br>
<input name='name'><br><br>
<label>Propellers</label><br>
<input name='propellers'><br><br>
<label>Max speed</label><br>
<input name='maxSpeed'><br><br>
<br>
<button type="submit">Create</button>
</form>